.paginationContainer {
    display: flex;
    justify-content: center;
    margin-top: 24px;

    .paginationButton {
        width: 24px;
        height: 24px;
        margin: 0 4px;
        background-color: #fff;
        color: #999;
        border: 1px solid #ddd;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: #f0f0f0;
        }

        &.active {
            background-color: #524fa1;
            color: #fff;
            border-color: #524fa1;
        }

        &.disabled {
            cursor: not-allowed;
            opacity: 0.6;

            svg {
                color: #ccc;
            }
        }
    }

    .paginationButtonLeft {
        margin-right: 8px;
    }

    .paginationButtonRight {
        margin-left: 8px;
    }
}